<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>New Chat</h3>
    <form method="POST" action="/chats">
        From: <input type="text" required name="from">
        To: <input type="text" required name="to">
        <textarea name="msg" placeholder="Msge"></textarea>
        <button>CreateChat</button>
    </form>
</body>
</html>